h1{
    color:white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-image: url("https://t4.ftcdn.net/jpg/05/75/03/87/240_F_575038733_SpEI8ygUJa8fSvQU3l7yqAcqRIOdim5I.jpg");
    /*background-image: url('https://66.media.tumblr.com/b8436d0c1ff901e8ed67b67ad545bc5c/tumblr_n2i6pdeMvv1s8hnhko1_500.gif');*/
    background-size: 100% 100%;
    text-align: center;
    height:150px;
    padding-top: 10%; 
    width: 80%;
}

body{
    margin-left:20%;
    background-color: black;
    display:block;
    
}
.label{
    color:white;
    display: inline-block;
    text-align: left;
    width: 100px;
}

.inputbox{
    margin-bottom: 10px;
}

.inputform{
margin-left:25%;
}

@media (max-width: 700px) {
    body{
        display:block;
    }
    .inputform{
        margin-left:0;
    }

}

h2 {
    width: 80%;
    color:white;
    text-align: center;
}


/* CSS */
#submit {
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-weight: 600;
  outline: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 5%;
  margin-top: 10px;
}

#submit:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

#submit:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
    #submit {
    padding: 16px 48px;
  }
}